<%= semantic_form_for [:admin, resource] do |f| %>
  <%= f.inputs "Основное" do %>
    <%= f.input :slug, label: 'Slug' %>
    <%= f.input :name, input_html: {rows:1}, label: 'Name' %>
    <%= f.input :content, as: :ckeditor, label: 'Content' %>
  <% end %>

  <div class="globalize-inputs globalize-content">
    <%= f.inputs "SEO" do %>
      <%= f.semantic_fields_for :seo do |j| %>
        <%= j.input :title, input_html: {rows:1}, label: 'Title' %>
        <%= j.input :keywords, label: 'Keywords' %>
        <%= j.input :description, label: 'Description' %>
      <% end %>
    <% end %>
  </div>


  <%= f.actions %>
<% end %>
