
<div id="center">
  <div class="page-wrapper">
    <div class="page">
      <div class="wrapper">
        <%= raw @temp.temp_content %>
        <div class="page-content">
          <%= render 'shared/menu' %>
          <div class="common">
            <h3> <%= @news_item.title %></h3>
            <span class="publish_date"> <%= @news_item.published_at %> </span><br><br>
              <%= raw @news_item.content %>
            <div class="wrap_more back">
              <%= link_to "Назад", news_items_path, class: "archive" %>
            </div>
          </div>
            <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>